<!DOCTYPE html>
<html lang="en">
  <head>
    <title>The Chuck Norris Joke Department</title>
    <link rel="stylesheet" type="css/text" href="../public/stylesheets/style.css">
  </head>
  <body>
    <!--we need to use the variable inside the object because
  the value is there-->
  <h1>Choke! Chuk Norris Joke</h1>
  <p><%- joke %></p>
  </body>
</html>
